@media (min-width:1300px) {


}
@media (min-width:1440px) {

}
@media (min-width:1600px) {
	#detailSearch{
		min-height: 800px;
		max-width: 1400px;
		margin: auto;
	}
	.searchroom{
		max-width: 1400px;
		margin: auto;
		height: 70px;
	}

}
.detailllll{

	max-width: 1170px;
	margin: auto;
	margin-top: 60px;
	//transform: translateY(-60px);
}
.searchroom{
	width: 1170px;
	margin: auto;
}
.md-card.md-theme-default{
	border-radius: 6px;
}
.swiper-container {
	background-color: #f2f2f2;
}
.swiper-slide {
	background-size: cover;
	background-position: center;
}
.swiper-pagination-bullets{
	bottom: -5px !important;
}
.gallery-top {
	height: 80% !important;
	width: 100%;
}
.gallery-thumbs {
	height: 20% !important;
	box-sizing: border-box;
	padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
	height: 100%;
	opacity: 0.4;
	margin-right: 0px;
}
.gallery-thumbs .swiper-slide-active {
	opacity: 1;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
#detailSearch {
	.md-tabs-navigation{
		z-index: 1 !important;
	}
	.datepicker__month-day--selected{
		background-color: rgb(37, 143, 224) !important;
	}
	.datepicker__month-day--first-day-selected, .datepicker__month-day--last-day-selected {
		background-color: rgb(37, 143, 224) !important;
	}
	.datepicker{
		top:60px !important;
	}
	.datepicker--open{
		border-radius: 6px;
	}
	.carousel-control-next-icon {
		background-image: url('~icons/Arrow Right-white.png') !important;
		width: 40px;
		height: 40px;
	}
	.carousel-control-prev-icon {
		background-image: url('~icons/Arrow Left-white.png') !important;
		width: 40px;
		height: 40px;
	}
	.carousel-inner{
        border-radius:5px;
        position: relative;
        width: 100%;
        overflow: hidden;
        background: none;
    }
	.bottonOption:hover{
		span svg{
			color: #fff !important;
		}
	}
	.modal-lg {
		max-width: 1000px;
	}
	.extra{
		height: 40px;
		border-radius: 35px;
		background-color: #f5f5f5;
		line-height: 40px;
		text-align: center;
	}
	.textExtra{
		height: 40px;

		line-height: 40px;
		text-align: center;
	}
	hr.outline {
		display: block;
		height: 1px;
		border: 0;
		border-top: 0.5px solid rgb(242, 242, 242);
		border-bottom: 0.5px solid rgb(242, 242, 242);
		margin: 1em 0;
		padding: 0;
	}
	hr.double {
		border-top: 1px solid #8c8b8b;
		border-bottom: 1px solid #fff;
		&:after {
			content: '';
			display: block;
			margin-top: 2px;
			border-top: 1px solid #8c8b8b;
			border-bottom: 1px solid #fff;
		}
	}
	#tab-floatLeft {
		div {
			float: left;
			width: 25%;
			margin: 0px 0px 10px 0px;

		}
		padding: 10px 0px 0px 20px;
	}
	.tab-pane {
		padding: 0px 10px 0px 10px;
	}
	.b-table {
		td {
			padding: 20px;
		}
		.card-body {
			padding: 0px;
			.top {
				width: 25%;
				text-align: center;
			}
		}
		.ratePlan {
			width: 40%;
		}
		.capacity {
			width: 15%;
		}
		.total {
			width: 15%;
		}
		.rooms {
			width: 30%;
		}
	}
	.datepicker__dummy-input:first-child {
		background: transparent url('~icons/Arrow Right-gray-mix.png') no-repeat 100%/50px !important;
        width: calc(56% - 4px);
		padding-left: 30px;
	}
	.datepicker__dummy-input {
		width: calc(40% + 4px);
		padding-left: 8px;
	}
	.datepicker__wrapper {
		position: relative;
		display: inline-block;
		width: 100%;
		height: 45px;
		background: #fff url('~icons/Calendar-gray.png') no-repeat 11px/25px;
	}
	.datepicker__clear-button {
		height: 38px;
		font-size: 18px;
		color: #258fdf !important;
		&:focus {
			outline: none !important;
		}
	}
	#float-left {
		div {
			float: left;
			margin: 10px 30px 0px 0px;
		}
		padding: 0px 0px 0px 43px;
	}
	.input-add {
		width: 100px;
		.input-group {
			button {
				background-color: #e5e5e5 !important;
			}
			input[type=text] {
				background-color: white;
				text-align: center;
			}
		}
	}
	.btn-input {
		position: relative;
		width: 100%;
		background-color: white;
		border: 1px solid #ccc;
		height: 45px;
	}
	hr {
		width: 99%;
	}
	.info-content {
		width: 65%;
	}
	.hidden_header {
		display: none;
	}
	.image-content {
		width: 20%;
	}
	.border-result {
		border-left: 1px solid #0b2e4d;
	}
	.poiter :hover{
		cursor: pointer;
	}
	#formSearchDt {
		background-color: #fff;
		padding: 20px;
		border-radius: 6px;
		label {
			font-weight: bold;
		}
	}
	#formFilter{
		background-color: #fff;
		padding: 20px;
		border-radius: 6px;
	}
	#search {
		text-align: center;
		padding-bottom: 10px;
	}
	#searchbarDt {
		// background-color: rgb(242, 242, 242);
		margin: 0px 0px 10px 10px;
		select,
		input[type="text"] {
		}
		a {
			color: blue;
		}
	}
	.button-search {
		border-radius: 30px;
		text-align: center;
		background-color: #f1a91d;
		color: white;
		border: none;
		padding: 5px 15px;
	}
	.headerDt {
		background-color: #0b2e4d;
		color: white;
		height: 40px;
		line-height: 40px;
		padding-left: 10px;
	}
	.card-footer {
		background-color: white;
	}
	.btnfooter {
		float: right;
	}
}
.maxhight {
	overflow-y: hidden;
	width: 100%;
	overflow-x: hidden;
}
.tablerow {
	.content {
		border-bottom: 1px solid #ccc;
		height: auto;
		line-height: 2;
		padding: 5px 0px;
	}
}
.other {
	.swipersl {
		height: 450px
	}
}
.seen {
	.swipersl {
		height: 360px;
		.swiperslide {
			position: relative;
			background-color: #fff;
			border-radius: 6px;
			height: 96%;
			.slimage img {
				margin: auto;
				height: 150px;
				width: 100%;
				border-radius: 6px 6px 0px 0px;
			}
			.slname {
				margin-top: 10px;
			}
		}
	}
	.slBooknow {
		position: absolute;
		bottom: 15px;
		left: 10%;
		right: 10%;
	}
	.pernight {
		position: absolute;
		bottom: 55px;
		left: 10%;
		right: 10%;
	}
	.swiper-pagination {}
}
.swiperslide {
	&:hover {}
}
.icon {
	width: 20px;
	height: 20px;
	margin-top: 0px;
}
#markup {
	margin-top: 5%;
}
.multiselect {
	box-sizing: none;
	font-size: 14px;
}
#multi {
	box-sizing: border-box;
}
.colcenter {
	text-align: left;
}
.btn-to-top {
	width: 60px;
	height: 60px;
	padding: 10px 16px;
	border-radius: 50%;
	font-size: 22px;
	line-height: 22px;
}
.cartshopping {
	margin: auto;
}
.text-right {
	margin: auto;
}
.total {
	margin: auto;
}
#btnadult {
	border-radius: 0px;
	button[type=button] {
	}
}
.button_availability {
	width: 100%;
	height: 45px;
	border-radius: 20px;
	color: #fff;
}
#time {
	border-radius: 4px;
}
.datepicker__dummy-wrapper {
	border-radius: 4px;
	border: 0px !important;
}
.datepicker__wrapper {
	border-radius: 4px;
}
#detailSearch .btn-input {
	border-radius: 4px;
	height: 45px;
	border: 0px !important;
}
.tooltip-inner {
	background-color: rgb(41, 39, 39);
	text-align: center;
	height: auto;
	width: auto;
}
#diff {
	height: 30px;
	border-radius: none;
}
.plant {
	border-radius: 6px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 2px 3px #888888;
	width: 100%;
}
#planCard {
	border-radius: 6px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 2px 3px #888888;
	width: 100%;
	margin: auto;
}
#detailsRoom {
	background-color: rgb(242, 242, 242);
	margin-right: 0px;
}
.moreinfor {
	text-align: right;
}
.collview {
	max-height: 600px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.collguest {
	border-right: 1px solid #ccc;
	width: 16.666667%;
}
.collprice {
	border-right: 1px solid #ccc;
}
.diffAdult {
	border-right: 1px solid #ccc;
	padding: 0%;
	button {
		padding: initial;
		width: 100%;
	}
}
.textunitAdultsRoom {
	margin: auto;
	padding: 0px;
	.formselectchild {
		border: 0px;
		border-radius: 4px;
		text-align: center;
		font-weight: bold;
		width: 100%;
		height: 30px;
	}
}
.addAdult {
	border-left: 1px solid #ccc;
	padding: 0%;
	button {
		padding: initial;
		width: 100%;
	}
}
.rowAdult {
	border: 1px solid #ccc;
	border-radius: 5px;
}
button:focus{
	outline: none !important;
}
.md-button-content {
	font-size: initial;
	font-weight: bold;
	text-transform: none !important;
}
.md-tabs-navigation {
	z-index: 2;
}
.rowselect {
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 95%;
	margin: auto;
}
.addcart {
	width: 95%;
	margin: auto;
	button {
		width: 100%;
	}
}
.textunitAdultsRoom {
	text-align: center;
}
.collrate {
	display: table-cell;
	vertical-align: middle;
	width: 17%;
}
.roomhover {
	display: table;
	background-color: #fff;
	box-shadow: 0px 1px 2px #888888;
	width: 100%;
	max-height: 260px;
	height: 160px;
	border-radius: 6px;

}
.collimgroom {
	display: table-cell;
	width: 25%;
}
.collamenitiroom {
	display: table-cell;
	vertical-align: middle;
	width: 58%;
}
.roomm {
	padding: 0 15px;
}
.titleplant {
	margin-top: 5px;
	display: table;
	width: 100%;
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	font-weight: bold;
	background-color: rgb(231, 230, 230);
}
.roomType {
	display: table-cell;
	vertical-align: middle;
	width: 36%;
}
.Capacity {
	display: table-cell;
	vertical-align: middle;
	width: 12%;
}
.RatePlan {
	display: table-cell;
	vertical-align: middle;
	width: 28%;
}
.Total {
	display: table-cell;
	vertical-align: middle;
	width: 12%;
}
.Roomss {
	display: table-cell;
	vertical-align: middle;
	width: 12%;
}
.md-card-actions {
	padding: 0px;
}
.md-tab {
	background-color: #fff;
	border-radius: 0 6px 6px 6px;
}
.md-tabs{
	background-color: #fff;
	border-radius: 5px;
}
.md-tabs.md-theme-default .md-tabs-navigation .md-button.md-active{
	background-color: #fff;
}
.md-tabs.md-theme-default .md-tabs-navigation .md-button{
	background-color: #fff;
}
.hotelname {
	width: 100%;
	height: 250px;
	position: absolute;
	bottom: 0;
	margin: auto;
	left: 0;
	right: 0;
	background: linear-gradient(to bottom, rgba(14, 14, 14, 0), rgba(0, 0, 0, 0.9));
	padding-right: 15px;
	color: #fff;
	z-index: 1;
}
.slidehotel {
	position: relative;
	height: 450px;
	margin-right: 0px;
}
.colhotelname {
	height: 100px;
	margin-left: 15px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
.b-main-slider {
	height: 500px;
	background-size: cover;
	background-position: center;
}
.Specialcoll {
	position: relative;
}
.Specialcoll span {
	position: absolute;
	display: block;
	right: -6px;
	left: 0;
	bottom: 0;
	color: #fff;
	background-color:#ffc123;
	text-align: center;
	z-index: 1;
}
.Specialcoll:before {
	content: "";
	position: absolute;
	display: block;
	bottom: -7.5px;
	border: 8.5px solid  #f8ad00;
	z-index: 1;
	right: -16.66667px;
	border-right-color: transparent;
}
.minprice span {
	font-size: 12px;
}
#des {
	margin-right: 15px;
}
.secondaryDetail {
	text-align: center;
	background-color: green;
	color: #fff;
	padding: 1px 6px;
	margin-left: 20px;
}
.bodycarddetaill {
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}
#collapse2 {
	position: absolute;
	top: 60px;
	left: 15px;
	.card {
		margin: 0;
		width: 275px;
		z-index: 4;
		border-radius: 6px !important;
	}
}
.book {
	width: 100%;
}
.alert1 {
	position: fixed;
	top: 10px;
	right:330px;
	z-index: 100;
}
.sticky {
	background-color: #258fe0;
	z-index: 3;
	position: fixed;
	// display: block;
	top: 40px;
	right: 0px;
	left: 0px;
	height: 75px;
	transition: all ease-in-out 0.5s;
	transform: translateY(0);
  }
.sticky1 {
	background-color: #258fe0;
	z-index: 3;
	position: fixed;
	// display: block;
	top: 40px;
	right: 0px;
	left: 0px;
	height: 80px;
	transition: all ease-in-out 2s;
	transform: translateY(-800%);
}
#sticky1 {
	display: none;
}
#searchFixd1{
	display: block
}
.searchFixd{
	background-color: #258fe0;
	z-index: 3;
	position: fixed;
	display: none;
	top: 65px;
	right: 0px;
	left: 0px;

}
//@at-root
figure.effect-sadie figcaption::before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30%;
	background: linear-gradient(to bottom, rgba(10, 10, 10, 0) 0%, rgba(13, 13, 14, 0.8) 75%);
	content: '';
	opacity: 0;
	transform: translate3d(0, 0%, 0);
	border-radius: 0 0 0 6px;
}
figure.effect-sadie h2 {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	color: #484c61;
	transition: transform 0.35s, color 0.35s;
	transform: translate3d(0, -50%, 0);
}
figure.effect-sadie figcaption::before,
figure.effect-sadie p {
	transition: opacity 0.95s, transform 0.55s;
}
figure.effect-sadie p {
	position: absolute;
	bottom: -20px;
	left: 0;
	width: 100%;
	opacity: 0;
	////transform: translate3d(0, 0px, 0);
	transition: all ease-in-out 0.5s;
}
figure.effect-sadie:hover h2 {
	color: #fff;
	transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
}
figure.effect-sadie:hover figcaption::before,
figure.effect-sadie:hover p {
	opacity: 1;
	bottom: 0;
	//transform: translate3d(0,0,0);
	//transform: translate3d(0, 0, 0) translate3d(0, -10px, 0);
}
figure.effect-sadie{overflow: hidden; position: relative;}
