
:local {

}
.bodyb2b{
    padding-top: 60px;
	background-color: #f2f2f2;
}
.headerblue{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}
.footerAll{
	// max-width: 1400px;
}
#detailCart{
	thead{
		tr{
			th:first-child{
				background-color: #dbdbdb;
				// border-radius: 20px 0px 0px 0px;
				color: black;
			}
			th:last-child{
				background-color: #dbdbdb;
				// border-radius: 0px 20px 0px 0px;
				color: black;
			}
			th{
				background-color: #dbdbdb;
				border: none;
				color: black;
			}
		}
	}
	td{
		color: black;
		font-weight: 550;
	}
}
.router{
	position: relative;
	background-color: #f2f2f2;
	margin: auto;
	margin-top: 0px;
	overflow-x: hidden;
	overflow-y: hidden;


}
.router1{
	position: relative;
	background-color: #f2f2f2;
	margin-top: 60px;
	overflow-x: hidden;
	overflow-y: hidden;

	margin: auto;
}
